pandas
scikit-learn
nltk
dvc-gs
mlflow
matplotlib
seaborn
Flask
flake8  # Add this line
pytest
PyYAML 
requests
pytest-flask
pylint>=3.0 # Or just pylint if you always want latest compatible
astroid>=3.0 # Or just astroid